In [1]:
def add(tpl):
    sum=0
    for a in tpl:
        sum+=a
    print(sum)
tpl=(2,6,8)
add(tpl)

16

In [2]:
l1=[56,24,63,90]
l2=[12,85,89,12]
l3=list(zip(l1,l2))
print(l3)
l3.sort(key = lambda x: x[0])
print("Sorted by 1st element: ", l3)

[(56, 12), (24, 85), (63, 89), (90, 12)]
Sorted by 1st element:  [(24, 85), (56, 12), (63, 89), (90, 12)]

In [4]:
f= open ("fileeg.txt",'x')
try:
    f.write("ght")
except:
    
    f.close()

In [5]:
f = open("file2.txt")
try :
    f.write(" hellooo")
except:
    print(" file is not writable")
f.close()

 file is not writable

In [6]:
df={'Brand' : ['Maruti', 'Hyundai', 'Tata', 'Mahindra', 'Maruti', 'Hyundai', 'Renault', 'Tata', 'Maruti'], 'Year' : [2012, 2014, 2011, 2015, 2012,
2016, 2014, 2018, 2019], 'Kms Driven' : [50000, 30000, 60000,25000, 10000, 46000,31000, 15000, 12000], 'City' : ['Gurgaon', 'Delhi', 'Mumbai',
'Delhi', 'Mumbai', 'Delhi','Mumbai','Chennai', 'Ghaziabad'], 'Mileage' : [28, 27, 25, 26, 28,29, 24, 21, 24]}
display(df)

{'Brand': ['Maruti',
  'Hyundai',
  'Tata',
  'Mahindra',
  'Maruti',
  'Hyundai',
  'Renault',
  'Tata',
  'Maruti'],
 'Year': [2012, 2014, 2011, 2015, 2012, 2016, 2014, 2018, 2019],
 'Kms Driven': [50000, 30000, 60000, 25000, 10000, 46000, 31000, 15000, 12000],
 'City': ['Gurgaon',
  'Delhi',
  'Mumbai',
  'Delhi',
  'Mumbai',
  'Delhi',
  'Mumbai',
  'Chennai',
  'Ghaziabad'],
 'Mileage': [28, 27, 25, 26, 28, 29, 24, 21, 24]}

In [7]:
df.loc[(df.Brand == 'Maruti') & (df.Mileage > 25)]

AttributeError: 'dict' object has no attribute 'loc'